@import "~font-awesome/css/font-awesome.css";
@import "mixins";

$header-height: 50px;

html, body, #app {
  margin: 0;
  @include full-viewport;
  font-family: 'Avenir';
}

header {
  height: $header-height;
  line-height: 30px;
  padding: 10px;
  box-sizing: border-box;
}

.home {
  @include full-viewport;
  height: calc(100% - #{$header-height});
}
